/*reset css*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background: #17161B;
    color: #ffffff;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

ul {
    padding-left: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/*вместо заголовков h буду использовать span и его делать блочным*/

button,
input {
    outline: none;
    border: none;
    cursor: pointer;
} 
/*reset css*/

@font-face {
	font-family: 'Roboto'; 
    font-style: normal;
	font-weight: normal;
	src: url(Roboto/Roboto-Regular.ttf) ;
}

.header {
    grid-area: my-header;
}

.aside {
    grid-area: my-aside;
}

.main {
    grid-area: my-main;
}

.grid {
    display: grid;
    grid-template-areas:
    "my-header my-header my-header"
    "my-aside my-main my-main"
    "my-aside my-main my-main";
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 8rem 0;
}

.grid-init {
    max-width: 144rem;
    margin: auto;
    padding: 3rem 2.4rem 4rem;
}

.header_wrap {
    display: flex;
    align-items: center;
}

.header_logo {
    text-transform: uppercase;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 117%; /*75px / 64px font-size*/
    margin-right: 7rem;
}

.header_nav {
    margin-right: 9.2rem;
}

.header_nav a{
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 117%;    
}

.header_nav a:not(:last-child) {
    margin-right: 2.5rem;
}

.header_search {
    width: 33rem;
    height: 4.1rem;
    border-radius: 0.8rem;
    margin-right: 3.9rem;
}

.header_search input {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.08) url('../img/search.svg');
    background-repeat: no-repeat;
    background-position: top 50% right 1.5rem;
    border-radius: 0.8rem;
    padding-left: 1rem;
    padding-right: 4rem;
    font-size: 2rem;
    line-height: 115%;
    color: #ffffff;
}

.header_search input::placeholder {
    font-size: 2rem;
    line-height: 115%;
    color: #ffffff;
}

.header_date {
    text-align: center;
    margin-right: 8.6rem;
}

.header_date_hours {
    font-size: 2rem;
    line-height: 115%;
}

.header_date_days {
    font-size: 1.2rem;
    line-height: 117%;
}

.header_personal {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;

}

.main-display_trailer {
    position: relative;
    width: 100%;
    height: 20.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(../img/main-display_trailer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1.6rem;
    padding: 1.9rem 0 1.9rem 1.9rem;
}

.main-display_trailer_name span {
    display: block;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 150%;
}

.main-display_trailer_name_date {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 114%;  
}

.main-display_trailer_views {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 119%;
}

.btn-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 8.1rem;
    height: 8.1rem;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /*filter: blur(1.6rem); НА ПОДУМАТЬ*/
}

.btn_play {
    width: 0;
    height: 0;
    border-top: 1.5rem solid rgba(255, 255, 255, 0.07);
    border-left: 2.5rem solid #ffffff;
    border-bottom: 1.5rem solid rgba(255, 255, 255, 0.07);
    border-radius: 0.2rem;    
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.title_left,
.title_right {
    display: flex;
    align-items: center;
}

.title_left {
    font-size: 2rem;
    line-height: 115%;
    padding-top: 3.5rem;
}

.title_left_count {
    color: rgba(255, 255, 255, 0.2);
    margin-left: 2rem;
}

.title_right {
    font-size: 1.4rem;
    line-height: 114%;
    color: rgba(255, 255, 255, 0.2);
    padding-top: 3.9rem;
}

.title_right span {
    display: block;
    margin-right: 0.8rem;
}

.title_right img {
    width: 1.5rem;
    height: 1rem;
}

.trending, .popular {
    display: flex;
    justify-content: space-between;
}

.trending_item {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 48%;
    height: 25.1rem;    
    background: url(../img/trending_bg_item.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1.6rem;
}

.trending_item span{
    display: block;
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 1.4rem;
    line-height: 114%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 1.6rem;
    padding: 0.3rem 1.3rem;
}

.trending_footer, .popular_footer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 1rem 1.8rem 6.4rem;
    border-radius: 1.6rem;
    background: rgba(255, 255, 255, 0.25);
}

.popular_footer {
    padding: 0.8rem 1.9rem 0.8rem 4.7rem;
    background: rgba(255, 255, 255, 0.25);
}

.trending_footer_title_header  {
    display: block;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 150%;
}

.trending_footer_title_date {
    font-weight: 700;
    font-size: 1rem;
    line-height: 120%;
}

.trending_time {
    padding: 0.4rem 1.3rem;
    font-size: 1.4rem;
    line-height: 114%;
    background: #FFFFFF;
    border-radius: 1.6rem;
    color: #000000;

}

.small {
    width: 4.5rem;
    height: 4.5rem;
    left: 7%;
}

.small-popular {
    width: 3rem;
    height: 3rem;
    left: 8%;
}

.btn-wrap.small .btn_play {
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-left: 1.5rem solid #ffffff;
    border-bottom: 1rem solid transparent;
    border-radius: 0.2rem;
}

.popular_item {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 31%;
    height: 19.2rem;    
    background: url(../img/popular_bg_item.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1.6rem;
}

.btn-wrap.small-popular .btn_play {
    width: 0;
    height: 0;
    border-top: 0.8rem solid transparent;
    border-left: 0.9rem solid #ffffff;
    border-bottom: 0.8rem solid transparent;
    border-radius: 0.2rem;
}

.popular_footer_title_header {
    font-weight: 700;
    font-size: 1rem;
    line-height: 120%;
}

.popular_footer_title_date {
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 112.5%;
}

.popular_raiting {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular_raiting span {
    font-weight: 700;
    font-size: 0.1rem;
    line-height: 120%;
    margin-left: 0.4rem;
}

.popular_raiting img {
    width: 1rem;
    height: 1rem;
}


/*сетка медиазапросов*/
@media (max-width: 108em) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 105em) {
    html {
        font-size: 8.75px;
    }
}

@media (max-width: 91.5em) {
    html {
        font-size: 7.9px;
    }
}

@media (max-width: 91em) {
    html {
        font-size: 8.4px;
    }
}

@media (max-width: 90em) {
    html {
        font-size: 7.9px;
    }
}

@media (max-width: 80em) {
    html {
        font-size: 7.2px;
    }
}

@media (max-width: 72em) {
    html {
        font-size: 6.5px;
    }
}

@media (max-width: 64em) {
    html {
        font-size: 5.5px;
    }
}

@media (max-width: 48em) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 44em) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 38em) {
    html {
        font-size: 8px;
    }
}

@media (max-width: 34em) {
    html {
        font-size: 7px;
    }
}

@media (max-width: 30em) {
    html {
        font-size: 6px;
    }
}

@media (max-width: 26em) {
    html {
        font-size: 4.5px;
    }
}

@media (max-width: 21em) {
    html {
        font-size: 4.4px;
    }
}
/*сетка медиазапросов*/